{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Crypto Recovery{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <style>
        body {
            background-color: yellow;
        }
    </style>
</head>
<body>
    {% block content %}
    <!-- Page-specific content will be inserted here -->
    {% endblock %}
</body>
</html>
